/* style.css */

body {
  background-color: #d3d3d3;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  color: #333;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-top: 20px;
}

p {
  font-size: 1.2em;
  margin-top: 10px;
}

.logo {
  margin: 30px auto;
  max-width: 300px;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

.links-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.links-flex a {
  display: inline-block;
  background-color: white;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: #1a1a8e;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s, color 0.3s;
}

.links-flex a:hover {
  background-color: #f0f0f0;
  color: #000066;
}
.patrocinio {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 280px; /* Aumentado de 120px para 180px */
  z-index: 1000;
}

.patrocinio img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
