    body {
    background-color: gray;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    }
    h1 {
    font-size: 2em;
    font-weight: bold;
    }
    h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    }
    .downloads {
    display: flex;
    justify-content: center;
    gap: 20px; /* Menor espaço entre os blocos */
    flex-wrap: wrap;
    }
    .downloads div {
    background-color: white;
    padding: 0px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    width: 200px;
    height: 120px; /* Menor altura */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    }
    .downloads h3 {
    font-size: 1em;
    flex-grow: 1; /* Ocupa o espaço restante */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    .downloads a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    }
    a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    }
    a:hover {
    text-decoration: underline;
    }
    img {
    margin-top: 20px;
    margin-bottom: 10px; /* Aproxima da secção de downloads */
    max-width: 250px;
    }
    div:last-of-type a {
    display: inline-block;
    margin-top: 20px; /* Aumentado de 20px para 50px */
    font-size: 0.9em;
    }
    .patrocinio {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 280px;
    z-index: 1000;
    }
    .patrocinio img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .voltar {
    margin-top: 60px;
    }
    .voltar a {
    font-size: 1em;
    font-weight: bold;
    color: blue;
    text-decoration: none;
    display: inline-block;
    }
    .voltar a:hover {
    text-decoration: underline;
    }
